<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <configSections>
    </configSections>
    <connectionStrings>
        <add name="cnSAP" connectionString="Data Source=CH-SQL02;Initial Catalog=SBO_Dockets;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="appSetting1" value="hello" />
  </appSettings>
</configuration>